@media(max-width: 992px){
  body {
    background: url(../../assets/images/header-m.jpg) no-repeat center;
    background-size: cover;
    justify-content: space-between;
  }
  h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  .col-left {
    width: 100%;
    &_header {
      column-gap: 10px;
      padding-top: 30px;
    }
    &_footer{
      display: none;
    }
  }
  .col-right {
    width: 100%;
    z-index: 1;
    position: relative;
    &_desktop {
      display: none;
    }
    &_mobile {
      display: block;
      width: 100%;
    }
    &_footer{
      display: flex;
      flex-direction: column;
      padding: 30px 0;
      background: $darkestgrey;
      p{
        margin-bottom: 20px;
      }
      .infocasa {
        width: 45%;
        max-width: 160px;
      }
      .construdeco {
        width: 50%;
        max-width: 190px;
      }
    }
    &_logos {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  .element1 {
    display: none;
  }
  .element2 {
    display: none;
  }
  .element3a {
    display: none;
  }
  .element3b {
    display: block;
    top: -40px;
    right: 30px;
    max-width: 50px;
  }
  .element4b {
    left: 200px;
    bottom: -100px;
  }
  .element5 {
    display: none;
  }

}

@media (max-width: 767px) {
  .col-left {
    &_logo {
      width: 80px;
    }
    &_text {
      .h5 {
        margin-bottom: 0;
      }
    }
  }
  .btn {
    padding: 8px 10px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container {
    max-width: 960px;
}
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
