@media(max-width: 1399px){
  section{
    .col-left {
      width: 50%;
    }
  }
}
@media(max-width: 992px){
  body{
    justify-content: flex-start;
  }
  section{
    .row{
      flex-direction: column;
      align-items:center;
    }
    .col-left {
      width: 100%;
      &_header {
        column-gap: 10px;
      }
      &_footer{
        display: none;
      }
    }
    .col-right{
      width: 100%;
      .imgA{
        display: none;
      }
      .imgB{
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        transform: translateY(10px);
      }
      &_footer{
        display: block;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        transform: translateY(680px);
        p{
          margin-bottom: 20px;
        }
        .logos{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 5vh;
        }
        img{
          max-width: 200px;
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container {
    max-width: 960px;
}
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
