//----------------------------Banner----------------------------//
.banner{
  margin-top: 78px;
  padding-bottom: 0;
  padding-top: 0;
  .swiper-slide{
    background-position: center 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    overflow: hidden;
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 45px;
    }
  }
  &_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
  }
  &_titleb{
    margin-bottom: 5px;
    p{
      font-size: 14px;
      margin: 0 13px;
    }
    .line{
      background-color: #FFFFFF;
      height: 1px;
      width: 48px;
    }
  }
  &_titlec{
    .info{
      margin-right: 14px;
      width: 100%;
      max-width: 116px;
    }
    .constru{
      width: 100%;
      max-width: 143px;
    }
  }
  &_item1{
    background-image: linear-gradient(0deg, #00000099 0%, #00000000 30%),url(https://cdn1.infocasas.com.uy/web/62a361af8638e_header-desktop-1.jpg);
    .left span{
      background: $azul;
      box-shadow: 7px 0 0 #0070E4, -7px 0 0 #0070E4;
    }
  }
  &_item2{
    background-image: linear-gradient(0deg, #00000099 0%, #00000000 30%),url(https://cdn1.infocasas.com.uy/web/62a361fe6a3af_header-desktop-2.jpg);
    .left span{
      background: $naranja;
      box-shadow: 7px 0 0 #f67327, -7px 0 0 #f67327;
    }
  }
  &_item3{
    background-image: linear-gradient(0deg, #00000099 0%, #00000000 30%),url(https://cdn1.infocasas.com.uy/web/62a36206348f3_header-desktop-3.jpg);
    .left span{
      background: $text-fucsia;
      box-shadow: 7px 0 0 #C00B6F, -7px 0 0 #C00B6F;
    }
  }
  &_item4{
    background-image: linear-gradient(0deg, #00000099 0%, #00000000 30%),url(https://cdn1.infocasas.com.uy/web/62a361ca25410_header-desktop-4.jpg);
    .left span{
      background: $azul;
      box-shadow: 7px 0 0 #0070E4, -7px 0 0 #0070E4;
    }
  }
  &_item5{
    background-image: linear-gradient(0deg, #00000099 0%, #00000000 30%),url(https://cdn1.infocasas.com.uy/web/62a3621699cf9_header-desktop-5.jpg);
    .left span{
      background: $btn;
      box-shadow: 7px 0 0 #A2C232, -7px 0 0 #A2C232;
    }
  }
  &_item6{
    background-image: linear-gradient(0deg, #00000099 0%, #00000000 30%),url(https://cdn1.infocasas.com.uy/web/62a3621fed960_header-desktop-6.jpg);
    .left span{
      background: $naranja;
      box-shadow: 7px 0 0 #f67327, -7px 0 0 #f67327;
    }
  }
  .left{
    font-weight: 900;
    span {
      padding: 0;
      display: inline-block;
      margin: 7px 0;
    }
  }
  .swiper-button {
    color: $white;
    width: 30px;
    height: 45px;
    &:after {
      font-size: 25px;
    }
  }
}

//----------------------------Banner----------------------------//
.fbanner{
  background-color: $rosado;
  padding: 30px 0;
  .row {
    align-items: center;
  }
  .btn{
    font-size: 24px;
  }
  &_text{
    animation-duration: 1s;
    p.h2{
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      margin-bottom: 15px;
      text-align: center;
    }
    p.h4 {
        display: flex;
        color: white;
        font-weight: 400;
        margin-bottom: 0;
        img{
          width: 100%;
          margin-right: 10px;
        }
        .img1{
          max-width: 25px;
        }
      }
    &_imgtext{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 45px;
    }
    .img2{
      max-width: 167px;
    }
  }
}

//----------------------------Areas----------------------------//
.areas{
  background-image: url(https://cdn1.infocasas.com.uy/web/62a361431c255_fondo-luces.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 88.5px;
  padding-bottom: 118px;
  &_tittle{
    margin-bottom: 38px;
  }
  p.h5 {
    margin-bottom: 30px;
    font-weight: 400;
  }
  p.h3{
    font-weight: 400;
    margin-top: 20px;
  }
  &_footer {
    position: sticky;
    top: 100%;
  }
  &_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 8px;
    margin-top: 97px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    .item{
      border-radius: 10px;
      position: relative;
      transition: all 0.3s ease;
      &:hover{
        transform: scale(1.03);
      }
      &_top{
        text-align: center;
        img{
          max-width: 70px;
          width: 100%;
          transform: translatey(-30px);
        }
      }
      p, li{
        color: $white;
      }
      p.h2{
        font-weight: 900;
        margin-bottom: 18px;
        text-align: center;
      }
      ul {
        list-style: none;
        text-align: left;
        height: auto;
        padding: 0 22px;
        li{
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 12px;
        }
     }
    }
    .inmo{
      background-color: $naranja;
    }
    .constru{
      background-color: $btn;
    }
    .deco{
      background-color: $text-fucsia;
    }
    .tecno{
      background-color: #0070DB;
    }
  }
}

//----------------------------Evento----------------------------//
.event{
  padding: 55px 0;
  background-color: $azul;
  text-align: center;
  .container{
    max-width: 992px;
  }
  &_circulos {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 730px;
  }
  p{
    color: $white;
    margin-bottom: 20px;
  }
  p.h5{
    margin-top: 35px;
    margin-bottom: 25px;
  }
  &_title{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-bottom: 38px;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
      max-width: 28px;
    }
    p.h1{
      background: none;
      display: block;
      margin-bottom: 0;
    }
  }
}
//----------------------------Evento-Videp----------------------------//
.video{
  padding:0;
  overflow: hidden;
  &_iframe {
    padding-top: 56.16%;
    position: relative;
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
    }
  }
}
//----------------------------Actividades----------------------------//
.activity{
  background-image: url(https://cdn1.infocasas.com.uy/web/62a361431c255_fondo-luces.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 92px;
  padding-bottom: 111px;
  .subtitle {
    margin-top: 38px;
    font-weight: 400;
    margin-bottom: 42px;
  }
  .wrapper{
    justify-content: center;
    row-gap: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-row: 1fr 1fr 1fr;
  }
  .gallery {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
  }
  .col{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    img{
      height: 100%;
    }
  }
  .card {
    height: 100%;
    float: left;
    min-width: 100%;
    perspective: 500px;
    border: none;
    border-radius: 0;
    background-color: #ffffff1a;
  }
  .content {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .card:hover .content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  .front, .back {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .back1, .back3, .back5, .back7, .back9{
    color: white;
    transform: rotateY(180deg) translateZ(1px);
  }
  .back1{
    background: #0070E4;
  }
  .back3{
    background: #A2C232;
  }
  .back5{
    background: #C00B6F;
  }
  .back7{
    background: #A2C232;
  }
  .back9{
    background: #EC7327;
  }
  p.h4{
    color: $white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    z-index: 1;
    span{
      font-weight: 900;
    }
  }
  .item{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    img {
      transition: all 0.3s ease;
    }
    &:hover{
      img {
        transform: scale(1.04);
      }
    }
  }
  .front1, .front3, .front5, .front7, .front9{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .front1{
    background-image: linear-gradient(0deg, #0070e7e0 100%, #00000000 100%),url(https://cdn1.infocasas.com.uy/web/62a35fb2bbbee_1.jpg);
  }
  .front3{
    background-image: linear-gradient(0deg, #adc94ae0 100%, #00000000 100%),url(https://cdn1.infocasas.com.uy/web/62a36133afe8a_3.jpg);
  }
  .front5{
    background-image: linear-gradient(0deg, #c10b6fe0 100%, #00000000 100%),url(https://cdn1.infocasas.com.uy/web/62a361533e720_6.jpg);
  }
  .front7{
    background-image: linear-gradient(0deg, #adc94ae0 100%, #00000000 100%),url(https://cdn1.infocasas.com.uy/web/62a361199d9dd_7.jpg);
  }
  .front9{
    background-image: linear-gradient(0deg, #ec7327e0 100%, #00000000 100%),url(https://cdn1.infocasas.com.uy/web/62a3610426abd_5.jpg);
  }
}

//----------------------------concurso----------------------------//
.concurso{
  background: linear-gradient(to right, #0079FF, #B8D900);
  &_img1 {
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
  }
  &_img2 {
    position: absolute;
    top: 0px;
    right: 0;
    height: 100%;
  }
  p{
    color: $white;
  }
  p.h5{
    text-align: center;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    p.display-2{
      line-height:0.6;
    }
    span.top-a {
      -webkit-text-stroke: 2px white;
      color: transparent;
      position: relative;
      z-index: 0;
      &:after {
        content: "";
        position: absolute;
        background: linear-gradient(to right, #B8D900, #0079FF);
        width: 85%;
        bottom: 12px;
        height: 35px;
        z-index: -1;
        left: 0;
      }
    }
    span.top-b{
      color: $white;
    }
  }
  .btn{
    border: 2px solid #ffffff;
    border-radius: 9px;
    color: $white;
  }
  .line-a{
    background: transparent linear-gradient(90deg, #B8D900 0%, #0079FF 100%) 0% 0% no-repeat padding-box;
    width: 264px;
    height: 8px;
    margin-top: 14px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }
  .line-b{
    border: 2px solid #FFFFFF;
    width: 127px;
    margin-top: 21.5px;
    margin-bottom: 14.5px;
    margin-left: auto;
    margin-right: auto;
  }
  .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 23px;

    .button-b{
      background-color: #a2c23200;
      img {
        padding-left: 2px;
      }
    }
  }
}
//----------------------------Informacion----------------------------//
.informat{
  background-color: $rosado;
  display: flex;
  align-items: center;
  .text-header{
    margin-top: 40px;
  }
  p.h5{
    color: $white;
    font-weight: 400;
  }
  &_left{
    padding-top: 57px;
    padding-bottom: 42px;
    &_imgtext{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      p{
        margin-bottom: 0;
      }
      img{
        margin-right: 28px;
      }
      .calendar{
        max-width: 37px;
        width: 100%;
      }
      .reloj{
        max-width: 35px;
        width: 100%;
      }
      .ubicacion{
        max-width: 26px;
        width: 100%;
      }
    }
   .antel_img{
      .arena{
        max-width: 167px;
        width: 100%;
        margin-bottom: 10px;
      }
      .flex-right{
        display: flex;
        flex-direction: column;
      }
    }
    &_line{
      width: 10%;
      margin: 25px 0;
      border: 1px solid #a2c232;
      background-color: #a2c232;
    }
  }
  .bottom{
    margin-top: 44px;
  }
  &_right{
    position: absolute;
    background-image: url(https://cdn1.infocasas.com.uy/web/62a361ce3fa23_antel-arena-desktop.jpg);
    background-size: auto 100%;
    background-position:center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 56%;
    height: 100%;
  }
}


//----------------------------Plano----------------------------//
.plano{
  .element{
    max-width: 60px;
    width: 100%;
  }
  p{
    color: #494949;
  }
  p.h1{
    background-color: $white;
    display: block;
    margin-bottom: 10px;
    margin-top: 12px;
  }
  &_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
    &_zona{
      p{
        margin-bottom: 12px;
        display: flex;
      }
      img{
        max-width: 25px;
        width: 100%;
        margin-right: 12px;
      }
    }
  }
  &_img{
    margin-top: 10px;
    margin-bottom: 88px;
  }
  .bottom{
    text-align: center;
  }
  .zona-edificio{
    .cartel{
      opacity: 0;
    }
    &:hover{
      .cartel{
        opacity: 1;
      }
    }
  }
}

//----------------------------Comprar Entradas----------------------------//
.tickets{
  background-color: $naranja;
  padding-top: 22px;
  padding-bottom: 28px;
  text-align: center;
  .row{
    position: relative;
    z-index: 1;
  }
  .element{
    max-width: 33px;
    width: 100%;
  }
  p{
    color: $white;
  }
  .text{
    margin-top: 10px;
  }
  p.h1{
    background-color: $naranja;
    display: block;
    margin-bottom: 14px;
    margin-top: 17px;
  }
  p.h5{
    font-weight: 400;
    margin-bottom: 24px;
  }
  p.blue{
    span{
      background-color: $azul;
      display: inline;
      line-height: 1.5;
      font-family: 'Nunito Sans', sans-serif;
      box-shadow: 7px 0 0 #0070e4, -7px 0 0 #0070e4;
    }
  }
  .circulos {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 730px;
    transform: rotate(180deg);
    z-index: 0;
  }
  &_line{
    border-bottom: 3px solid white;
    background-color: #EC7327;
    margin-left: auto;
    margin-right: auto;
    width: 126px;
    margin-top: 40px;
    margin-bottom: 26px;
  }
  &_form{
    margin-bottom: 46px;
    margin-top: 30px;
    &_item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      column-gap: 40px;
    }
  }
  #ticketsForm {
    margin-bottom: 15px;
    width: 100%;
    .form-floating {
      margin-bottom: 10px;
      width: 100%;
      label {
        color: #494846;
      }
    }
    .btn{
      padding: 8px 60px;
    }
  }
  .form-control{
    border-radius: 10px;
    border-color: $white;
  }
  #formSending p.strong {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    span{
      background: $white;
      height: 6px;
      width: 6px;
      border-radius: 100%;
      margin: 0 3px;
      animation: sending 1s infinite;
      &:first-child {
        margin-left: 6px;
      }
      &:nth-child(2) {
        animation-delay: 200ms;
      }
      &:last-child {
        animation-delay: 300ms;
      }
    }
  }
}

//----------------------------Empresas----------------------------//
.business{
  text-align: center;
  padding-bottom: 24px;
  .icons{
    display: flex;
    flex-direction: row;
    column-gap: 68px;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
    }
    .info{
      max-width: 183px;
    }
    .constru{
      max-width: 171px;
    }
    .deco{
      max-width: 121px;
    }
    margin-bottom: 76px;
    margin-top: 32px;
  }
  p{
    color: #494949;
  }
  .imga{
    margin-top: 36px;
    margin-bottom: 30px;
  }
  .imgb{
    margin-top: 15px;
    margin-bottom: 24px;
  }
}

//----------------------------Contacto----------------------------//
.contacto{
  background-image: url(https://cdn1.infocasas.com.uy/web/62a3634842ab1_footer-desktop-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  p{
    color: $white;
  }
  p.h1{
    display: block;
    margin-bottom: 19px;
    background: none;
    img{
      max-width: 33px;
      width: 100%;
      margin-left: 17px;
    }
  }
  p.h5{
    margin-bottom: 28px;
    font-weight: 400;
  }
  &_form{
    margin-bottom: 27px;
    &_item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      column-gap: 40px;
    }
  }
  a{
    text-decoration: none;
    color: $white;
    margin-left: 45px;
    img {
      width: 100%;
      max-width: 17px;
      margin-right: 10px;
    }
  }
  #contactForm {
    margin-bottom: 15px;
    width: 100%;
    .form-floating {
      margin-bottom: 10px;
      width: 100%;
      label {
        color: #494846;
      }
    }
    .btn{
      padding: 8px 60px;
    }
  }
  .form-control{
    border-radius:10px;
    border-color: #707070;
  }
  #formSending p.strong {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    span{
      background: $white;
      height: 6px;
      width: 6px;
      border-radius: 100%;
      margin: 0 3px;
      animation: sending 1s infinite;
      &:first-child {
        margin-left: 6px;
      }
      &:nth-child(2) {
        animation-delay: 200ms;
      }
      &:last-child {
        animation-delay: 300ms;
      }
    }
  }
}
