/*----------------------------Queries-------------------------------*/
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding: 60px 55px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    padding: 60px 15px;
  }
  .col-left {
    &_logo {
      width: 130px;
    }
  }
}

