.footer{
  background-color: #494846;
  padding-top: 79px;
  padding-bottom:73px;
  img{
    width: 100%;
  }
  p{
    color: $white;
    font-weight: 400;
    margin-bottom: 18px;
  }
  a{
    text-decoration: none;
    color: $white;
  }
  .home{
    text-align: end;
    padding-right: 55px;
    .logo{
      max-width: 110px;
    }
  }
  .top{
    border-left: 2px solid #A2C232;
    padding-left: 55px;
  }
  .organizan{
    display: flex;
    flex-direction: row;
    column-gap: 47px;
    .left, .center, .right{
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 10px;
    }
    .infocasas{
      max-width: 140px;
    }
    .constru{
      max-width: 136px;
    }
    .deco{
      max-width: 92px;
    }
    .img-wapp{
      max-width: 24.5px;
      margin-right: 8px;
    }
  }
  .mail{
    max-width: 24px;
    margin-right: 8px;
  }
  .phone {
    max-width: 16px;
    margin-right: 8px;
  }
  .instagram{
    max-width: 25px;
    margin-right: 8px;
  }
  .correo{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 29px;
    margin-top: 28px;
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}
/*----------------------------Queries-------------------------------*/
@media (min-width: 1360px) {

}

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {

}

@media (min-width:992px) {
  .footer {
    .col-12 {
      width: auto;
    }
  }
}

@media (max-width: 991.98px) {
  .footer{
    text-align: center;
    padding-top: 43px;
    padding-bottom: 60px;
    .top{
      border: none;
      margin-top: 30px;
      padding: inherit;
    }
    .home {
      text-align: center;
      padding: inherit;
    }
    .organizan {
      flex-direction: column;
      row-gap:36px;
      .left, .center, .right{
        align-items: center;
      }
    }
    .line{
      width: 40%;
      height: 2px;
      background-color: #A2C232;
      margin-right: auto;
      margin-left: auto;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .correo{
      flex-direction: column;
      justify-content: center;
      row-gap: 16px;
      margin-top: 0;
    }
  }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}
