<div class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-12 home">
        <img src="assets/icons/homefest-blanco.svg" alt="" class="logo">
      </div>
      <div class="col-lg-9 col-12 top">
        <p>Un evento organizado por:</p>
        <div class="organizan">
          <div class="left">
            <a href="https://infocasas.com.uy/" target="_blank"><img src="assets/icons/infocasa-b.svg" alt="" class="infocasas" loading="lazy"></a>
            <a href="https://api.whatsapp.com/send?phone=59897999736&text=Hola!%20Me%20gustar%C3%ADa%20tener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20HomeFest" target="_blank" style="color:#EA7327;"><img src="assets/icons/whatsapp-orange.svg" alt="" class="img-wapp wapp-a">+598 97 999 736</a>
          </div>
          <div class="center">
            <a href="https://construdeco.com.uy/" target="_blank"><img src="assets/icons/constru.svg" alt="" class="constru" loading="lazy"></a>
            <a href="https://api.whatsapp.com/send?phone=59892752020&text=Hola!%20Me%20gustar%C3%ADa%20tener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20HomeFest" target="_blank" style="color:#A2C232;"><img src="assets/icons/whatsapp-green.svg" alt="" class="img-wapp wapp-b">+598 92 752 020</a>
          </div>
          <div class="right">
            <a href="https://construdeco.com.uy/" target="_blank"><img src="assets/icons/deco.svg" alt="" class="deco" loading="lazy"></a>
            <a href="https://api.whatsapp.com/send?phone=+59899707000&text=Hola!%20Me%20gustar%C3%ADa%20tener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20HomeFest" target="_blank" style="color:#CE2D87;"><img src="assets/icons/whatsapp-pink.svg" alt="" class="img-wapp wapp-c">+598 99 707 000</a>
          </div>
        </div>
        <div class="line"></div>
        <div class="correo">
          <a href="#" target="_blank" class="d-lg-none"><img src="assets/images/footer/phone.svg" alt="" class="phone d-none d-lg-block">2605 5555</a>
          <a href="mailto:homefest@infocasas.com.uy" target="_blank"><img src="assets/images/footer/mail.svg" alt="" class="mail d-none d-lg-block">homefest@infocasas.com.uy</a>
          <a href="#" target="_blank" class="d-none d-lg-flex"><img src="assets/images/footer/phone.svg" alt="" class="phone d-none d-lg-block">2605 5555</a>
          <a href="https://www.instagram.com/homefest_uy/" target="_blank"><img src="assets/icons/instagram_red.svg" alt="" class="instagram">homefest_uy</a>
        </div>
      </div>
    </div>
  </div>
</div>
